<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
bootstrap="vendor/autoload.php" 
cacheResultFile=".phpunit.cache/test-results" 
executionOrder="depends,defects" 
beStrictAboutOutputDuringTests="true" 
beStrictAboutTodoAnnotatedTests="true" 
failOnRisky="true" 
failOnWarning="true" 
colors="true"
>

  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <junit outputFile="phpunit.report.xml"/>
  </logging>

  <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
    <include>
        <directory suffix=".php">src/</directory>
    </include>
    <report>
        <clover outputFile="phpunit.coverage.xml" />
    </report>
  </coverage>

  <php>
    <env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true"/>
  </php>

</phpunit>
